* {
  margin: 0;
  padding: 0;
}

/*! HEADER AREA */

/* header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

/* header 내용 */
.header-contents {
  margin: 7px;
}

/* header의 a Tag */
.header-a {
  color: black;
  text-decoration: none;
  font-size: small;
}

/* header a Tag에 마우스 오버 */
.header-a:hover {
  text-decoration: underline;
}

/* header의 button Tag */
.header-icon {
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
  border-radius: 30px;
  overflow: hidden;
}

/* 프사 대충 크기 설정 */
#profile-icon img {
  width: 40px;
}

#list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-icon:hover {
  background-color: rgba(173, 173, 173, 0.5);
}
/* 리스트 이미지도 크기 설정 */
#list-icon img {
  width: 25px;
}

/*! HEADER AREA */

/*!MAIN AREA */

/* main contents */
.container {
  margin-top: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 검색 바 영역 */
#search {
  display: flex;
  padding: 6px;
  align-items: center;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgb(173, 173, 173);
}

/* 돋보기, 구글 어시스턴트? */
#search img {
  width: 20px;
}
#search > input {
  width: 500px;
  height: 30px;
  padding-left: 17px;
  border: none;
  font-size: medium;
}
#search > input:focus {
  outline: none;
}
.mic-div {
  display: flex;
  align-items: center;
}
.mic-div:hover {
  cursor: pointer;
}

/* shortcut */
#shortcut {
  display: flex;
}
#shortcut span {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
}
#shortcut span:hover {
  border-radius: 5px;
  background-color: rgba(173, 173, 173, 0.5);
  cursor: pointer;
}
#shortcut p {
  font-size: small;
}
#shortcut div {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
  background-color: rgb(233, 233, 233);
}

.shortcut-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shortcut-icon img {
  width: 25px;
}

/*! MAIN AREA */

/*!FOOTER AREA */

footer {
  margin-top: 480px;
  display: flex;
  justify-content: end;
}
footer > div {
  width: 150px;
  height: 30px;
  background-color: white;
  box-shadow: 0px 3px 3px rgb(173, 173, 173);
  border-radius: 30px;
  color: rgb(0, 140, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}
footer img {
  width: 17px;
}

/*! FOOTER AREA */
